{% extends 'adminmaster.html' %}

{% load static %}

{% block css_block %}
   {# for datatable #}
   <link rel="stylesheet" type="text/css" href="{% static 'back/css/jquery.dataTables.css' %}">
   <style type="text/css">
      .error_class{
         color: red;
         padding-left: 10px;
         font-weight: bold;
      }
   </style>
{% endblock %}

{% block content %}
   
   <!-- <div id="page-content"> -->

      <div class="content-header">
         <div class="header-section">
            <h1>
               <i class="fa fa-table"></i>Edit News<br /><small>You can edit your news!</small>
            </h1>
         </div>
      </div>
      <ul class="breadcrumb breadcrumb-top">
         <li>News</li>
         <li><a href="{% url 'news.edit' id=edit_data.id %}">Edit</a></li>
      </ul>


      <div class="row">
         <div class="col-md-12">
            <div class="block">
               <div class="block-title">

                  <h2><strong>Edit News</strong> </h2>
               </div>

               

               {% if messages %}
                  {% for message in messages %}
                     <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ message }}</strong>
                     </div>
                  {% endfor %}
                  <!--<ul class="messages">
                      {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul> -->
               {% endif %}


               <form action="{% url 'news.update' id=edit_data.id %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered"  />

                  {% csrf_token %}

                  <div class="form-group">

                     <div class="col-md-12">
                        <input type="text" name="news_title" id="news_title" class="form-control" placeholder="News Title" value="{{ edit_data.name }}" />
                        {% if error.news_title %}
                           <span class="error_class">{{ error.news_title }}</span>
                        {% endif %}
                     </div>

                  </div>

                  <div class="form-group">

                     <div class="col-md-6">
                        
                        <select id="news_category" name="news_category" class="select-chosen" data-placeholder="Choose a Category..." style="width: 250px;">

                           <option value="" >Choose a Category</option>
                           {% for category in category %}
                              <option value="{{ category.pk }}" {% if category.id == edit_data.cat_id  %}selected{% endif %} >{{ category.name }}</option>
                           {% endfor %}
                           
                        </select>
                        {% if error.news_category %}
                           <span class="error_class">{{ error.news_category }}</span>
                        {% endif %}

                     </div>

                     <div class="col-md-6">
                        
                        <input type="hidden" name="" id="edit_sub_category" value="{{ edit_data.sub_cat_id }}">
                        <select id="news_subcategory" name="news_subcategory" class="form-control subcategory" data-placeholder="Choose a SubCategory..." style="width: 100%;">
                           <option value="" >Choose a SubCategory</option>
                        </select>

                        {% if error.news_subcategory %}
                           <span class="error_class">{{ error.news_subcategory }}</span>
                        {% endif %}

                     </div>

                  </div>

                  <div class="form-group">

                     <div class="col-md-12">
                        <textarea name="news_text_short" id="news_text_short" rows="5" class="form-control" placeholder="Short Text" >{{ edit_data.short_text }}</textarea>
                        {% if error.news_text_short %}
                           <span class="error_class">{{ error.news_text_short }}</span>
                        {% endif %}
                     </div>

                  </div>

                  <div class="form-group">

                     <div class="col-md-12">
                        <textarea name="news_text" id="news_text" rows="5" class="form-control" placeholder="Body Text">{{ edit_data.body_text }}</textarea>
                        {% if error.news_text %}
                           <span class="error_class">{{ error.news_text }}</span>
                        {% endif %}
                     </div>

                  </div>

                  <div class="form-group">

                     <div class="col-md-6">
                        <input type="file" name="newsfile" id="newsfile"  class="form-control" placeholder="News File">
                        {% if error.newsfile %}
                           <span class="error_class">{{ error.newsfile }}</span>
                        {% endif %}
                     </div>

                     <div class="col-md-6">
                        <input type="text" name="tag" id="tag" class="form-control" placeholder="Tag" value="{{ edit_data.tag }}" />
                     </div>

                  </div>

                  <div class="form-group">

                     <div class="col-md-6">
                        <label>Current Image</label><br>
                        <img src="{{ edit_data.picurl }}" style="width:200px; height:100px;">
                     </div>

                  </div>


                  <div class="form-group form-actions">
                     <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
                     </div>
                  </div>


                  
               </form>


            </div>
         </div>

      </div>



   <!-- </div> -->

{% endblock %}


{% block js_block %}
   
   <!-- for datatable  -->
   <script type="text/javascript" src="{% static 'back/js/jquery.dataTables.js' %}"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
   <script type="text/javascript">
      $(document).ready( function () {
          //$('#news_list').DataTable();
          $('#table_id').DataTable();
      } );

      $(function(){

         $(document).on('change','#news_category', function(){
            var category_id = $("#news_category").val();
            if(category_id){
               $.post({
                  url:"{% url 'news.fetch.subcategory' %}",
                  method:"POST",
                  dataType:"JSON",
                  data: {category_id: category_id, csrfmiddlewaretoken: '{{ csrf_token }}' },
                  success: function(data){
                     $(".subcategory").html(data["subcategory"]);

                     if($('#edit_sub_category').val()){
                        $("#news_subcategory > option").each(function(index,element){
                           if( this.value == $('#edit_sub_category').val() ){
                              $(this).prop("selected", true);
                           }
                        });
                     }

                  }
               });
            }
         });

      });

      $(document).ready(function(){
        $('#news_category').trigger('change');
      });

   </script>
   

{% endblock %}