{% extends 'adminmaster.html' %}

{% load static %}

{% block content %}
   <div class="row">
      <div class="col-sm-6 col-lg-3">
         <div class="widget">
            <div class="widget-simple">
               <a href="./page_ready_article.php.html" class="widget-icon pull-left themed-background-autumn animation-fadeIn">
               <i class="fa fa-file-text"></i>
               </a>
               <h3 class="widget-content text-right animation-pullDown">
                  New <strong>Article</strong><br />
                  <small>Mountain Trip</small>
               </h3>
            </div>
         </div>
      </div>
      <div class="col-sm-6 col-lg-3">
         <div class="widget">
            <div class="widget-simple">
               <a href="./page_comp_charts.php.html" class="widget-icon pull-left themed-background-spring animation-fadeIn">
               <i class="gi gi-usd"></i>
               </a>
               <h3 class="widget-content text-right animation-pullDown">
                  + <strong>250%</strong><br />
                  <small>Sales Today</small>
               </h3>
            </div>
         </div>
      </div>
      <div class="col-sm-6 col-lg-3">
         <div class="widget">
            <div class="widget-simple">
               <a href="./page_ready_inbox.php.html" class="widget-icon pull-left themed-background-fire animation-fadeIn">
               <i class="gi gi-envelope"></i>
               </a>
               <h3 class="widget-content text-right animation-pullDown">
                  5 <strong>Messages</strong>
                  <small>Support Center</small>
               </h3>
            </div>
         </div>
      </div>
      <div class="col-sm-6 col-lg-3">
         <div class="widget">
            <div class="widget-simple">
               <a href="./page_comp_gallery.php.html" class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
               <i class="gi gi-picture"></i>
               </a>
               <h3 class="widget-content text-right animation-pullDown">
                  +30 <strong>Photos</strong>
                  <small>Gallery</small>
               </h3>
            </div>
         </div>
      </div>

     <!--  <div class="col-sm-6">
         <div class="widget">
            <div class="widget-simple">
               <a href="./page_comp_charts.php.html" class="widget-icon pull-left themed-background animation-fadeIn">
               <i class="gi gi-wallet"></i>
               </a>
               <div class="pull-right">
                  <span id="mini-chart-sales"></span>
               </div>
               <h3 class="widget-content animation-pullDown visible-lg">
                  Latest <strong>Sales</strong>
                  <small>Per hour</small>
               </h3>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="widget">
            <div class="widget-simple">
               <a href="./page_widgets_stats.php.html" class="widget-icon pull-left themed-background animation-fadeIn">
               <i class="gi gi-crown"></i>
               </a>
               <div class="pull-right">
                  <span id="mini-chart-brand"></span>
               </div>
               <h3 class="widget-content animation-pullDown visible-lg">
                  Our <strong>Brand</strong>
                  <small>Popularity over time</small>
               </h3>
            </div>
         </div>
      </div> -->

   </div>

{% endblock %}