{% extends 'adminmaster.html' %}

{% load static %}

{% block css_block %}
   {# for datatable #}
   <link rel="stylesheet" type="text/css" href="{% static 'back/css/jquery.dataTables.css' %}">
   <style type="text/css">
      .error_class{
         color: red;
         padding-left: 10px;
         font-weight: bold;
      }
   </style>
   <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
   
   <!-- <div id="page-content"> -->

      <div class="content-header">
         <div class="header-section">
            <h1>
               <i class="fa fa-table"></i>Edit Trending<br /><small>You can edit your trending news!</small>
            </h1>
         </div>
      </div>
      <ul class="breadcrumb breadcrumb-top">
         <li>Trending</li>
         <li><a href="{% url 'trending.edit' id=edit_trending.id %}">Edit</a></li>
      </ul>


      <div class="row">

         <div class="col-md-12">
            <div class="block">
               <div class="block-title">

                  <h2><strong>Edit Trending</strong> </h2>
               </div>

               

               {% if messages %}
                  {% for message in messages %}
                     <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ message }}</strong>
                     </div>
                  {% endfor %}
                  <!--<ul class="messages">
                      {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul> -->
               {% endif %}


               <form action="{% url 'trending.update' id=edit_trending.id %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered"  />

                  {% csrf_token %}

                  <div class="form-group">

                     <div class="col-md-12">
                        <input type="text" name="trending_text" id="trending_text" value="{{ edit_trending.text }}" class="form-control" placeholder="News Title" />
                        {% if error.trending_text %}
                           <span class="error_class">{{ error.trending_text }}</span>
                        {% endif %}
                     </div>

                  </div>

                  <div class="form-group form-actions">
                     <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Update</button>
                     </div>
                  </div>


                  
               </form>


            </div>
         </div>

      </div>

   <!-- </div> -->

{% endblock %}


{% block js_block %}
   
   <!-- for datatable  -->
   <script type="text/javascript" src="{% static 'back/js/jquery.dataTables.js' %}"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
   <script type="text/javascript">
      $(document).ready( function () {
          //$('#news_list').DataTable();
          $('#table_id').DataTable();
      } );

      $(function(){

         $(document).on('change','#news_category', function(){
            var category_id = $("#news_category").val();
            if(category_id){
               $.post({
                  url:"{% url 'news.fetch.subcategory' %}",
                  method:"POST",
                  dataType:"JSON",
                  data: {category_id: category_id, csrfmiddlewaretoken: '{{ csrf_token }}' },
                  success: function(data){
                     $(".subcategory").html(data["subcategory"]);
                  }
               });
            }
         });

      });

   </script>
   <script>
        CKEDITOR.replace( 'news_text_short' );
        CKEDITOR.replace( 'news_text' );
    </script>
   

{% endblock %}