<!DOCTYPE html>
<!--[if IE 8]>         
<html class="no-js lt-ie9"> </html>
<![endif]-->
<!--[if gt IE 8]><!--> 
{% load static %}
<html class="no-js">
   <!--<![endif]-->
   <head>
      <meta charset="utf-8" />
      <title>ProUI - Responsive Admin Dashboard Template | DEMO</title>
      <meta name="description" content="ProUI is a Responsive Admin Dashboard Template created by pixelcave and published on Themeforest. This is the demo of ProUI! You need to purchase a license for legal use!" />
      <meta name="author" content="pixelcave" />
      <meta name="robots" content="noindex, nofollow" />
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />
      <link rel="shortcut icon" href="./img/favicon.ico" />
      <link rel="apple-touch-icon" href="{% static 'back/img/icon57.png' %}" sizes="57x57" />
      <link rel="apple-touch-icon" href="{% static 'back/img/icon72.png' %}" sizes="72x72" />
      <link rel="apple-touch-icon" href="{% static 'back/img/icon76.png' %}" sizes="76x76" />
      <link rel="apple-touch-icon" href="{% static 'back/img/icon114.png' %}" sizes="114x114" />
      <link rel="apple-touch-icon" href="{% static 'back/img/icon120.png' %}" sizes="120x120" />
      <link rel="apple-touch-icon" href="{% static 'back/img/icon144.png' %}" sizes="144x144" />
      <link rel="apple-touch-icon" href="{% static 'back/img/icon152.png' %}" sizes="152x152" />
      <link rel="stylesheet" href="{% static 'back/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'back/css/plugins.css' %}" />
      <link rel="stylesheet" href="{% static 'back/css/main.css' %}" />
      <link rel="stylesheet" href="{% static 'back/css/themes.css' %}" />
      <script src="{% static 'back/js/vendor/modernizr-2.7.1-respond-1.4.2.min.js' %}"></script>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <style type="text/css">
         .error_class{
            color: red;
            padding-left: 10px;
            font-weight: bold;
         }
      </style>
   </head>
   <body>
      <div id="login-background">
         <img src="{% static 'back/img/placeholders/headers/login_header.jpg' %}" alt="Login Background" class="animation-pulseSlow" />
      </div>
      <div id="login-container" class="animation-fadeIn">
         <div class="login-title text-center">
            <h1>
            	<i class="gi gi-flash"></i> 
            	<strong>MySite</strong><br />
            	<small>
            		<strong>Register</strong>
            	</small>
            </h1>
         </div>
         <div class="block remove-margin">


            {% if messages %}
               {% for message in messages %}
                  <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <strong>{{ message }}</strong>
                  </div>
               {% endfor %}
            {% endif %}
                  
            <form action="{% url 'register.post' %}" method="post" id="form-register" class="form-horizontal form-bordered form-control-borderless display-block" />

               {% csrf_token %}

               <div class="form-group">
                  <div class="col-xs-12">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-user"></i></span>
                        <input type="text" id="name" name="name" class="form-control input-lg" placeholder="Name `" required="" />
                        {% if error.name %}
                           <span class="error_class">{{ error.name }}</span>
                        {% endif %}
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <div class="col-xs-12">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-user"></i></span>
                        <input type="text" id="username" name="username" class="form-control input-lg" placeholder="Username `" required="" />
                        {% if error.username %}
                           <span class="error_class">{{ error.username }}</span>
                        {% endif %}
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <div class="col-xs-12">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                        <input type="email" id="email" name="email" class="form-control input-lg" placeholder="Email" required="" />
                        {% if error.email %}
                           <span class="error_class">{{ error.email }}</span>
                        {% endif %}
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <div class="col-xs-12">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                        <input type="password" id="password" minlength="6" name="password" class="form-control input-lg" placeholder="Password" required="" />
                        {% if error.password %}
                           <span class="error_class">{{ error.password }}</span>
                        {% endif %}
                     </div>
                  </div>
               </div>

               <div class="form-group">
                  <div class="col-xs-12">
                     <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                        <input type="password" id="confirm_password" minlength="6" name="confirm_password" class="form-control input-lg" placeholder="Confirm Password" required="" />
                        {% if error.confirm_password %}
                           <span class="error_class">{{ error.confirm_password }}</span>
                        {% endif %}
                     </div>
                  </div>
               </div>

               <div class="form-group form-actions">
                  <!-- <div class="col-xs-6">
                     <a href="#modal-terms" data-toggle="modal" class="register-terms">Terms</a>
                     <label class="switch switch-primary" data-toggle="tooltip" title="Agree to the terms">
                     <input type="checkbox" id="register-terms" name="register-terms" />
                     <span></span>
                     </label>
                  </div> -->
                  <div class="col-xs-6 text-right">
                     <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Register Account</button>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-xs-12">
                     <p class="text-center remove-margin"><small>Oops, you have an account?</small> <a href="/login" id="link-register"><small>Login!</small></a></p>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div id="modal-terms" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Terms &amp; Conditions</h4>
               </div>
               <div class="modal-body">
                  <h4>Title</h4>
                  <p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <h4>Title</h4>
                  <p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <h4>Title</h4>
                  <p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti. Pellentesque non accumsan orci. Praesent at lacinia dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
               </div>
            </div>
         </div>
      </div>
      <script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script>!window.jQuery && document.write(unescape('%3Cscript src="./js/vendor/jquery-1.11.0.min.js"%3E%3C/script%3E'));</script>
      <script src="{% static 'back/js/vendor/bootstrap.min.js' %}"></script>
      <script src="{% static 'back/js/plugins.js' %}"></script>
      <script src="{% static 'back/js/app.js' %}"></script>
      <script src="{% static 'back/js/pages/login.js' %}"></script>
      <script>$(function(){ Login.init(); });</script>
      <script>var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-16158021-6"]),_gaq.push(["_setDomainName","pixelcave.com"]),_gaq.push(["_trackPageview"]),function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();</script>
   </body>
</html>
